<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

<div>
    <app-header></app-header>
    <div class="container">
        <div class="backdrop-div" [ngStyle]="{'background-image': 'url(' + backdrop+ ')'}"></div>
        <div>
            <!--<img src="{{backdrop}}" alt="poster" class="image-backdrop">-->
            <h1 class="absolute">{{movie.name}}</h1>
        </div>
        <div class="poster-div">
            <img src="{{poster}}" alt="poster" class="image-poster">
            <div class="desc-div">
                <h2 class="rating-text">Rating: {{movie.rating}} <i class='fa fa-star' style='color: #f3da35'></i>
                </h2> 
                <br>
                <h1 class="encadrer-un-contenu">Overview:</h1> <br>
                <h5 class="square"><small >{{movie.description}}</small></h5>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

