
.image-poster {
    width: 30%; /* or any custom size */
    height: 50%; 
    object-fit: contain;
}
  .backdrop-div {
      padding-bottom: 700px;
      background-size: cover;
      position: relative;
      z-index: -1;
      opacity: 0.5;
  }
  .absolute {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 80px;
    text-shadow: 5px 5px 5px darkblue;
  }

  .poster-div {
      margin-top: -300px;
      display: flex;
        flex-direction: column;
      justify-content: center;
    align-items: center;
  }

  .desc-div {
      width: 50%;
      margin-top: 50px;
  }


  .icon {
    padding: 10px;
  }


  .card-movie {
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    display: flex;
    margin: 30px;
}

h4 {
    font-weight: 70;
    color: #0000CC;
    font-weight: bold;
    font-family: 'Almarai';
}

.list-image {
    height: 15px;
    width: 15px;
    padding-right: 5px;
}

.rating-class {
    width: 500px;
    background-color: rgb(236,236,236);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    padding: 5px;
    margin-left: 10px;
    box-shadow: 0 10px 20px rgba(228, 228, 228, 0.6), 0 6px 6px rgba(255,255,255,1);
}

.rating-column {
  display: flex;
  flex-direction: row;
}

.rating {
    display: flex;
    font-family: 'Almarai';
}

.free-sample {
    display: flex;
}

button {
    background-color: #000066;
    border-radius: 5px;
    color: #eeeeee;
    width: 250px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
  }

  @media only screen and (max-width: 600px) {

    .main-container {
        display: flex;
        flex-direction: column;
        z-index: 2;
    }

    .card-movie {
        flex-direction: column;
        width: 70%;
        margin-left: 20px;
        margin-right: 20px;
    }

    .first {
        margin-left: 5px;
    }

    .payment-class {
        width: 90%;
    }

    button {
        width: 60%;
    }

  }

