/*.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #e6e6e6;
    border-radius: 15px;
}
.sub-div {
    
    display: flex;
}*/
.icon {
    margin-top: 7px;
    margin: 5px;
}

.navbar {
    border-radius: 15px;
    justify-content: space-between;
}