<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Please enter email & password !!</h6>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input formControlName="username" type="text" class="form-control" aria-describedby="username">   
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input formControlName="password" type="password" class="form-control" id="password" aria-describedby="emailHelp">   
                    </div>
                    <button type="submit" class="btn btn-primary mb-1">Login</button>
                </form>
                <a style="color: #fff; margin-top: 10px;" routerLink="/register">New user? Click to register!!</a>
            </div>
        </div>
    </div>
</div>